@{
    ViewData["Title"] = "Embeddings";
}

<a class="btn btn-link" href="~/api/Search/Init" target="_blank">初始化向量数据库</a>
<a class="btn btn-link" href="~/api/Search?message=我爱吃苹果" target="_blank">我爱吃苹果</a>
<a class="btn btn-link" href="~/api/Search?message=我喜欢吃苹果" target="_blank">我喜欢吃苹果</a>
